extends ../layout/index.pug
 
block content 
    div(class="py-10")
        h1(class=" my-10 text-center text-4xl font-extrabold") Your
            span(class="font-extrabold text-center text-green-700") Destiny
        h2(class="text-center text-2xl font-extrabold")= page

        p(class="text-2xl font-bold text-center my-10")= msg
